html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MAIN GAME WRAPPER */

body>div {
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* CANVAS FULL SCREEN */

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}


/* TOP HUD (health bars + timer) */

body>div>div:first-child {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}